body{
    padding: 0;
    margin: 0;
  height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:rgb(159, 155, 155); */
  }
  .center{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .loading{
    position:relative;
    width:500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;     
  }
  .loading span {
    position: absolute;
    display:inline-block;
    border-radius: 50%;
    /* animation: a1 10s ease-out forwards; */
    animation: a1 10s ease-out 0s forwards;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @keyframes a1 {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      box-shadow: inset 0 0 50px rgb(68, 68, 68);
    }
    50% {
      width: 100%;
      height: 100%;
      opacity: 1;
      box-shadow: inset 0 0 50px rgb(179, 179, 179);
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
      box-shadow: inset 0 0 50px rgb(240, 236, 236);
      margin: 0; 
    }
  }  

  /* @keyframes a1 {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      box-shadow: inset 0 0 50px rgb(68, 68, 68);
    }
    99% {
      width: 100%;
      height: 100%;
      opacity: 1;
      box-shadow: inset 0 0 50px rgb(179, 179, 179);
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 1;
      box-shadow: inset 0 0 50px rgb(179, 179, 179);
    }
  } */
  @keyframes a2 {

    0% {
      width: 105%;
      height: 105%;
      opacity: 1;
      box-shadow: inset 0 0 50px rgb(179, 179, 179);
    }
    100% {
      width: 0%;
      height: 0%;
      opacity: 0;
      box-shadow: inset 0 0 50px rgb(240, 236, 236);
      margin: 0; 
    }
  } 

.loading span:nth-child(5){
    animation-delay: 1200ms ;
    max-width:500px;
      max-height: 500px;
      box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -moz-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -webkit-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -o-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      }
    
  .loading span:nth-child(4){
    animation-delay: 2400ms ;
    max-width:400px;
      max-height: 400px;
      box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -moz-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -webkit-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -o-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);

  }
  .loading span:nth-child(3){
    animation-delay: 3600ms ;
    max-width:300px;
      max-height: 300px;
      box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -moz-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -webkit-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -o-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);

  }
  .loading span:nth-child(2){
    animation-delay: 4800ms ;
    max-width:200px;
    max-height: 200px;
    box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    -moz-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
    -o-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);

  }
  .loading span:nth-child(1){
    animation-delay:6s;
      max-width:100px;
      max-height: 100px;
      box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -moz-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -webkit-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);
      -o-box-shadow: inset  10px -10px 25px rgba(0,0,0,0.6);

  }
  
  .ball{
    position: absolute;
    top:60%;
    width: 150px;
    height: 150px;
    background: radial-gradient(circle at 70px 75px, rgb(235, 232, 232),rgb(159, 155, 155));
    border-radius: 50%;
    transform: translateY(-10px);
    transform-style: preserve-3d;
    animation: bounce 7.6s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    box-shadow: rgba(242, 239, 239, 0.893) 0px 1px 2px 0px, rgba(242, 239, 239, 0.893) 0px 1px 3px 1px;
}
@keyframes bounce {
    0%{
        transform: translateY(0%);
    }
    70%{
        transform: translateY(-90%);
    }
    80%{
        transform: translateY(-95%) scale(.98);
        background: radial-gradient(circle at 70px 75px, rgb(220, 218, 218),rgb(122, 122, 122))
      
    }
    /* 85%{
      transform: translateY(-100%) scale(0.9);
      background:radial-gradient(circle at 70px 75px, rgb(210, 209, 209),rgb(69, 68, 68));

     } */
     90%{
      transform: translateY(-100%) scale(0.8);
      background:radial-gradient(circle at 70px 75px, rgb(210, 209, 209),rgb(43, 42, 42));
   /*     opacity: 0; */
     }
     95%{
      transform: translateY(-100%) scale(0.7);
      background:radial-gradient(circle at 70px 75px, rgb(168, 168, 168),rgb(34, 34, 34));
   /*     opacity: 0; */
     }

  99%{
   transform: translateY(-100%) scale(0.6);
   background:radial-gradient(circle at 70px 75px, rgb(166, 166, 166),rgb(29, 29, 29));
/*     opacity: 0; */
  }
  100%{
    transform: translateY(-100%) scale(0.5);
    background:radial-gradient(circle at 70px 75px,rgb(146, 146, 146),rgb(20, 20, 20));
  }
}
